{% extends 'base_cabinet.html' %}

{% block content%}
  <section class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h2 class="text-center">Мой профиль</h2>
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success fade-in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
          </div>
        {% endfor %}
        <p>Имя: {{current_user.firstname}}</p>
        <p>Фамилия: {{current_user.lastname}}</p>
        <p>Email: {{current_user.email}}</p>
        <p>Адрес: {{current_user.address or ''}}</p>
        <a href="{{url_for('cabinet.profile_edit')}}" class="btn btn-default">Редактировать</a>
      </div>
    </div>
  </section>
{% endblock %}